/* Fonts */
@font-face {
    font-family: 'Mondwest';
    src: url('fonts/PPMondwest-Regular.woff') format('woff'), url('fonts/PPMondwest-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mondwest';
    src: url('fonts/PPMondwest-Bold.woff') format('woff'), url('fonts/PPMondwest-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontreal';
    src: url('fonts/PPNeueMontreal-Thin.woff') format('woff'), url('fonts/PPNeueMontreal-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontrealBold';
    src: url('fonts/PPNeueMontreal-Regular.woff') format('woff'), url('fonts/PPNeueMontreal-Regular.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontreal';
    src: url('fonts/PPNeueMontreal-ThinItalic.woff') format('woff'), url('fonts/PPNeueMontreal-ThinItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}


body {
    width: 100%;
    margin: 0; /* remove browser’s default margin */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    font-family: NeueMontreal, Arial, sans-serif; /* set a clean, readable font */
    font-weight: normal;
    line-height: 1.5; /* improve text readability */
    background-color: #F0FFF0; /* #FFC107; #F0FFF0 #77DD77 #fff; white background (default, but explicit) */
    color: #000; /* black text */
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-family: NeueMontreal, Arial, sans-serif; /* set a clean, readable font */
    font-size: 2.5rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 80%;
    font-family: Mondwest, Arial, sans-serif;
    font-weight: bold;
    font-size: 6rem;
    line-height: 6rem;
}

.subhero {
    max-width: 70%;
    font-family: NeueMontreal, Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 3rem;
}

.hero_image {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
}

.content_section {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-family: NeueMontreal, Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 3rem;
}

.three_pane {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-family: NeueMontreal, Arial, sans-serif;
    gap: 0.5rem;
}

.card_header {
    width: fit-content;
    font-family: Mondwest, Arial, sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
}

.card_text {
    width: 24rem;
    font-family: NeueMontreal, Arial, sans-serif;
    font-size: 2rem;
    font-weight: normal;
    line-height: 2.5rem;
}

.card_image {
    width: fit-content; /* ✅ scales with container */
    height: auto; /* keeps aspect ratio */
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 0.5rem;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 80%;
    font-family: NeueMontreal, Arial, sans-serif;
    font-size: 2rem;
    font-weight: normal;
    line-height: 3rem;
    margin: 2rem;
}

.section_header {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-family: Mondwest, Arial, sans-serif;
    font-size: 2.5rem;
}

.contact_section {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2rem;
}

.contacts {
    width: 80%;
    font-family: NeueMontreal, Arial, sans-serif;
    font-size: 2rem;
    font-weight: normal;
}
